@import '../variables/variables';
@import '../mixins/vivid';

.shared-hero {
  padding: calc(50px + var(--navbarH)) 0 120px;
  @include mediumScreens {
    padding: calc(120px + var(--navbarH)) 0 120px;
  }

  > .decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: calc(var(--sectionPaddingY) * -1);
    pointer-events: none;
  }

  > .decor img {
    width: 100%;
    height: auto;
  }

  .hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
  }

  .hero-content .heading {
    @include fontHeading2;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    @include mediumScreens {
      font-weight: 700;
    }
  }

  .hero-content .paragraph {
    @include fontBodyXXL;
    line-height: 1.5;
    letter-spacing: -0.015em;
    max-width: 580px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    margin-top: 56px;
  }
}

.section-team {
  > .decor {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    pointer-events: none;
  }

  > .decor img {
    width: 100%;
    height: auto;
  }
}
